.list-detail-container {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 60px; /* Adjust if bottom navbar is taller */
}

.list-header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  position: sticky;
  top: 0;
  z-index: 10;
}

.list-header h1 {
  margin: 0;
  font-size: 24px;
}

.list-table {
  margin-top: 20px;
}

.list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}

.list-row.list-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.list-column {
  flex-grow: 1;
  padding: 10px 15px;
  text-align: left;
}

.list-column.item-name,
.list-column.item-location,
.list-column.item-price {
  /* Ensure the basis for each column matches the content size */
  flex-basis: auto;
}

.add-price-column {
  flex-basis: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-price-button {
  background-color: #28a745; /* Green color for the button */
  color: white;
  border: none;
  border-radius: 50%; /* Circular button */
  padding: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust the font size if needed */
  line-height: 1; /* Center the '+' vertically */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-price-button:hover {
  background-color: #218838; /* Darker green color on hover */
}
