.group-container {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 60px; /* Adjust if bottom navbar is taller */
}

.group-header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}

.group-header h1 {
  margin: 0;
  font-size: 24px;
}

.group-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 15px;
}

.group-header-row {
  font-weight: bold;
  background-color: #f0f0f0;
}

.group-name,
.group-members,
.add-to-group-button {
  flex-basis: auto;
}

.add-to-group-button {
  background-color: #28a745; /* Green color for the button */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem; /* Adjust the font size if needed */
}

.add-to-group-button:hover {
  background-color: #218838; /* Darker green color on hover */
}

.no-groups {
  text-align: center;
  margin: 20px 0;
  color: #ff0000; /* Red color for error message */
}

/* Add styles for BottomNavbar if needed */
