/* HomeScreen.css */

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Adjust to distribute space between items */
    height: 100vh;
    padding: 20px;
    background-color: #ecf0f1;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #3498db;
}

.heading-sub {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

.grocery-lists {
    width: 100%;
    flex-grow: 1;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.list-title {
    font-weight: bold;
    color: #555;
}

.list-actions {
    display: flex;
    gap: 8px;
}

.action-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.add-button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 60px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #2980b9;
}